<div id="projects-container">
  <div class="projects-content" id="projects-content"><br>
    <h3>Portfolio</h3>
    <h1>{{ getTranslation('PORTFOLIO.HEADLINE') }}</h1>
    <p>{{ getTranslation('PORTFOLIO.TEXT1') }} <br>{{ getTranslation('PORTFOLIO.TEXT2') }}</p>

    <div class="projects-list">

      <!-- GROUP 1: Frontend & Backend Projects -->
      <div class="project-line"></div>

      <div class="project-details group-header" (click)="toggleGroup('fullstack')">
        <div>
          <h3>Frontend & Backend Projects</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="" class="group-icon"
            [class.open]="activeGroup === 'fullstack'">
        </div>
        <p>Apps • Full-Stack</p>
      </div>

      @if (activeGroup === 'fullstack') {

      <div class="project-line"></div>

      <div class="project-details" (click)="onProjectClick(0)" (mouseenter)="setHoveredIndex(0)"
        (mouseleave)="setHoveredIndex(null)">
        <div>
          <h3>Join</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="">
        </div>
        <p>JavaScript | HTML | CSS | Firebase</p>
      </div>

      <div class="project-line"></div>

      <div class="project-details" (click)="onProjectClick(1)" (mouseenter)="setHoveredIndex(1)"
        (mouseleave)="setHoveredIndex(null)">
        <div>
          <h3>DABubble</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="">
        </div>
        <p>TypeScript | Angular | Firebase | HTML | CSS</p>
      </div>

      <div class="project-line"></div>

      <div class="project-details" (click)="onProjectClick(2)" (mouseenter)="setHoveredIndex(2)"
        (mouseleave)="setHoveredIndex(null)">
        <div>
          <h3>El Pollo Loco</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="">
        </div>
        <p>JavaScript | HTML | CSS</p>
      </div>

      <div class="project-line"></div>

      <div class="project-details" (click)="onProjectClick(3)" (mouseenter)="setHoveredIndex(3)"
        (mouseleave)="setHoveredIndex(null)">
        <div>
          <h3>Coderr</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="">
        </div>
        <p>JavaScript | HTML | CSS | Django</p>
      </div>

      <div class="project-line"></div>

      <div class="project-details" (click)="onProjectClick(4)" (mouseenter)="setHoveredIndex(4)"
        (mouseleave)="setHoveredIndex(null)">
        <div>
          <h3>KanMind</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="">
        </div>
        <p>JavaScript | HTML | CSS | Django</p>
      </div>

      <div class="project-line"></div>

      <div class="project-details" (click)="onProjectClick(5)" (mouseenter)="setHoveredIndex(5)"
        (mouseleave)="setHoveredIndex(null)">
        <div>
          <h3>Videoflix</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="">
        </div>
        <p>Angular | HTML | CSS | Django | PostgreSQL | Redis</p>
      </div>
      }

      <!-- GROUP 2: AWS & Linux Hands-On & Projects -->
      <div class="project-line"></div>

      <div class="project-details group-header" (click)="toggleGroup('handsOn')">
        <div>
          <h3>AWS & Linux Hands-On & Projects</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="" class="group-icon"
            [class.open]="activeGroup === 'handsOn'">
        </div>
        <p>Labs • GitHub</p>
      </div>

      @if (activeGroup === 'handsOn') {

      <div class="project-line"></div>

      @for (section of cloudSections; track section.key) {

      <!-- Cloud Sub-Tab (AWS / Linux) -->
      <div class="project-details devops-subheader" (click)="toggleCloudSection(section.key)">
        <div>
          <h3>{{ section.title }}</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="" class="devops-icon"
            [class.open]="activeCloudSection === section.key">
        </div>
        <p>{{ section.subtitle }}</p>
      </div>

      <!-- Content of selected Cloud topic -->
      @if (activeCloudSection === section.key) {

      <div class="project-line"></div>

      @if (section.repos.length > 0) {

      @for (repo of section.repos; track repo.title) {
      <a class="project-details collection-details collection-row-link" [href]="repo.url" target="_blank"
        rel="noopener">
        <div>
          <h3>{{ repo.title }}</h3>
        </div>

        <div class="collection-right">
          <p>{{ repo.tech }}</p>
          <img src="../../../assets/img/arrow_outward.svg" alt="">
        </div>
      </a>

      <div class="project-line"></div>
      }

      } @else {

      <div class="project-details devops-empty">
        <p>Coming soon – hands-on labs & projects will be added here.</p>
      </div>
      <div class="project-line"></div>

      }

      }

      }

      }

      <!-- GROUP 3: DevOps Hands-On & Projects -->
      <div class="project-line"></div>

      <div class="project-details group-header" (click)="toggleGroup('devops')">
        <div>
          <h3>DevOps Hands-On & Projects</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="" class="group-icon"
            [class.open]="activeGroup === 'devops'">
        </div>
        <p>Labs • GitHub </p>
      </div>

      @if (activeGroup === 'devops') {

      <div class="project-line"></div>

      @for (section of devOpsSections; track section.key) {

      <!-- DevOps Sub-Tab (Terraform / Docker / K8s / ...) -->
      <div class="project-details devops-subheader" (click)="toggleDevOpsSection(section.key)">
        <div>
          <h3>{{ section.title }}</h3>
          <img src="../../../assets/img/arrow_outward.svg" alt="" class="devops-icon"
            [class.open]="activeDevOpsSection === section.key">
        </div>
        <p>{{ section.subtitle }}</p>
      </div>

      <!-- Content of the selected DevOps topic -->
      @if (activeDevOpsSection === section.key) {

      <div class="project-line"></div>

      @if (section.repos.length > 0) {

      @for (repo of section.repos; track repo.title) {
      <a class="project-details collection-details collection-row-link" [href]="repo.url" target="_blank"
        rel="noopener">
        <div>
          <h3>{{ repo.title }}</h3>
        </div>

        <div class="collection-right">
          <p>{{ repo.tech }}</p>
          <img src="../../../assets/img/arrow_outward.svg" alt="">
        </div>
      </a>

      <div class="project-line"></div>
      }

      } @else {

      <div class="project-details devops-empty">
        <p>Coming soon – hands-on labs & projects will be added here.</p>
      </div>
      <div class="project-line"></div>

      }
      }

      }
      }

    </div>

    <div class="project-previews">
      @for (preview of previews; track preview; let i = $index) {
      <div class="project-screenshot"
        [ngStyle]="{'display': hoveredIndex === i ? 'block' : 'none', 'bottom': (130 - i * 50) + 'px'}">
        <img src="{{ preview }}" alt="">
        <div class="square"></div>
      </div>
      }
    </div>

  </div>
</div>